:root {
--color-primary: #002735;
--color-red: #d4514c;
--color-green: #5ac097;
--color-link: rgba(255, 255, 255, 0.5);
--button-bg: rgba(240, 240, 240, 0.12);
}
*{box-sizing: border-box;}


@font-face {font-family: "Cera Pro"; font-weight: 300; font-style: normal; font-display: swap;
src: url("../fonts/CeraPro-Light.eot"); src: url("../fonts/CeraPro-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/CeraPro-Light.woff2") format("woff2"), url("../fonts/CeraPro-Light.woff") format("woff"), url("../fonts/CeraPro-Light.ttf") format("truetype"), url("../fonts/CeraPro-Light.svg#CeraPro-Light") format("svg"); }


@font-face {font-family: "Cera Pro"; font-weight: 400; font-style: italic; font-display: swap;
src: url("../fonts/CeraPro-Italic.eot"); src: url("../fonts/CeraPro-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/CeraPro-Italic.woff2") format("woff2"), url("../fonts/CeraPro-Italic.woff") format("woff"), url("../fonts/CeraPro-Italic.ttf") format("truetype"), url("../fonts/CeraPro-Italic.svg#CeraPro-Italic") format("svg"); }
@font-face {font-family: "Cera Pro"; font-weight: 500; font-style: normal; font-display: swap;
src: url("../fonts/CeraPro-Medium.eot"); src: url("../fonts/CeraPro-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/CeraPro-Medium.woff2") format("woff2"), url("../fonts/CeraPro-Medium.woff") format("woff"), url("../fonts/CeraPro-Medium.ttf") format("truetype"), url("../fonts/CeraPro-Medium.svg#CeraPro-Medium") format("svg"); }
@font-face {font-family: "Cera Pro"; font-weight: 700; font-style: normal; font-display: swap;
src: url("../fonts/CeraPro-Bold.eot"); src: url("../fonts/CeraPro-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/CeraPro-Bold.woff2") format("woff2"), url("../fonts/CeraPro-Bold.woff") format("woff"), url("../fonts/CeraPro-Bold.ttf") format("truetype"), url("../fonts/CeraPro-Bold.svg#CeraPro-Bold") format("svg"); }

@font-face {font-family: "Cera Pro"; font-weight: 900; font-style: normal; font-display: swap;
src: url("../fonts/CeraPro-Black.eot"); src: url("../fonts/CeraPro-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/CeraPro-Black.woff2") format("woff2"), url("../fonts/CeraPro-Black.woff") format("woff"), url("../fonts/CeraPro-Black.ttf") format("truetype"), url("../fonts/CeraPro-Black.svg#CeraPro-Black") format("svg"); }


*,
*::before,
*::after {
box-sizing: border-box;
margin: 0;
padding: 0;
}
.container{max-width: 1440px;}
html,
body {font-size: 16px; font-family: "Cera Pro"; width: 100%; line-height: 1.4; font-weight: 400; background-color: var(--color-primary); scroll-behavior: smooth; }
p{font-size: 16px; font-weight: 300; }
img{width: auto; max-width: 100%;}

/*button effect css*/
.button-cta {display: block; background: 0 0; background-color: rgba(240,240,240,.12); backdrop-filter: blur(10px) brightness(100%); border: 0; box-sizing: border-box; max-width: 190px; padding: 10px 42px; font-size: 16px; line-height: 18px; letter-spacing: .21px; box-shadow: inset 0 0 0 1px #5ac097; color: #fff; font-weight: 400; position: relative; vertical-align: middle; transition: color .25s; text-align: center;}
.button-cta:hover{text-decoration: none; color: #fff;}

.button-cta:before,
.button-cta:after{border: 1px solid transparent; width: 0; height: 0;box-sizing: inherit;
    content: ''; position: absolute;}

.button-cta:before{top: 0; left: 0;}
.button-cta:hover:before {border-top-color: #002735; border-right-color: #002735; transition: width .25s ease-out,height .25s ease-out .25s;width: 100%; height: 100%; }

.button-cta:after{bottom: 0; right: 0;}
.button-cta:hover:after{width: 100%; height: 100%; border-bottom-color: #002735; border-left-color: #002735; transition: border-color 0s ease-out .5s,width .25s ease-out .5s,height .25s ease-out .75s;}
/*end css*/


/*--offcanvas-css--*/
#sidebar{opacity: 0;}
.sidebar-offcanvas-menu .sidebar-wrapper {position: relative; height: 100%; overflow: auto;}
#sidebar.sidebar-wrapperd-box[data-simplersidebar="active"] {width: 100% !important; }
#sidebar.sidebar-wrapperd-box{opacity: 1;}
.sidebar-offcanvas-menu .outer {height: 100%; background: #002735; overflow: auto; padding: 0 0 20px;}
.sidebar-offcanvas-menu #sidebar {position: fixed; top: 0px; bottom: 0px; width: 300px; left: -300px;}
.sidebar-offcanvas-menu .sidebar-top-header:after{content: ''; display: table; width: 100%;}
.sidebar-offcanvas-menu .sidebar-top-header {background-color: #002735; padding: 15px; border-bottom: rgba(177, 177, 177, 0.29) 1px solid;}
.sidebar-offcanvas-menu .sidebar-close-btn {text-align: right; float: right; padding:0;}
.sidebar-offcanvas-menu .sidebar-logo {float: left;}
.sidebar-offcanvas-menu .sidebar-logo img {max-width: 152px; margin: 0 auto;}
.sidebar-offcanvas-menu .sidebar-close-btn a {color: #fff; font-size: 30px; text-align: right; padding: 0px 0 0; cursor: pointer;}
.sidebar-offcanvas-menu ul.sidebar-menu, .sidebar-offcanvas-menu ul.sidebar-menu ul#menu-sidebar-menu-desktop {padding: 0; margin: 0;}
.sidebar-offcanvas-menu ul.sidebar-menu li {display: block; transition: all .3s ease-in; -webkit-transition: all .3s ease-in; position: relative; counter-increment: my-awesome-counter;}
.sidebar-offcanvas-menu ul.sidebar-menu li a {color: #fff; display: block; padding: 10px 15px; font-size: 14px;}
.sidebar-offcanvas-menu .inner{padding-top: 20px;}
.sidebar-offcanvas-menu ul.sidebar-menu li:before{content: ''; width: 70%; height: 1px; background: #ccc; display: inline-block;}
.sidebar-offcanvas-menu ul.sidebar-menu li:after{content: ''; width: 30px; height: 30px;display: inline-block; color: #fff;content: counter(my-awesome-counter) "."; position: absolute; top:  5px; left: 75%;}

ul.sidebar-menu > li {}
ul.sidebar-menu > li a {position: relative;}
ul.sidebar-menu > li > ul {padding: 0; margin: 0; display: none;}
ul.sidebar-menu > li > ul > li a {padding-left: 35px !important; font-size: 14px !important;}



.sidebar-socal-links {display: flex; align-items: center; list-style: none; margin-top: 80px; justify-content: center; }
.sidebar-socal-links li {padding-right: 36px; position: relative;}
.sidebar-socal-links li:last-child{padding-right: 0;}
.sidebar-socal-links li a {width: 36px; height: 36px; display: flex; align-items: center; justify-content: center; border-radius: 50%; color: #fff; padding: 4px; text-decoration: none; border: solid 1px #fff; position: relative; z-index: 2; background: rgba(255, 255, 255, 0.6); } 
.sidebar-socal-links li:nth-child(1):after{background-image: url(/viable/wp-content/uploads/2021/07/social-1.png); background-size: cover; background-repeat: no-repeat; content: ''; width: 85px; height: 85px; display: block; position: absolute; right: 0px; bottom: -30px; opacity: 1; z-index: 0;}
.sidebar-socal-links li:nth-child(2):after{background-image: url(/viable/wp-content/uploads/2021/07/social-2.png); background-size: cover; background-repeat: no-repeat; content: ''; width: 85px; height: 85px; display: block; position: absolute; right: 0px; bottom: -30px; opacity: 1; z-index: 0;}
.sidebar-socal-links li:nth-child(3):after{background-image: url(/viable/wp-content/uploads/2021/07/social-3.png); background-size: cover; background-repeat: no-repeat; content: ''; width: 85px; height: 85px; display: block; position: absolute; right: -36px; bottom: -30px; opacity: 1; z-index: 0;}
/*--offcanvas-css-end--*/

/*--header-css--*/

.main-navbarbox {background: #002735; padding: 20px 0; position: fixed; top: 0; left: 0; right: 0; width: 100%; z-index: 888; }
.mobile-menubtn {display: none; }
.main-navbarbox .row{align-items: center;}

.logo-boxin a {display:block; max-width: 150px;  }
.logo-boxin a img{width: auto; max-width: 100%;}
.desktop-menuboxin{text-align: center; padding-top: 6px;}
.desktop-menuboxin ul{margin: 0;}
.desktop-menuboxin ul li.menu-item-has-children ul {display: none; }
.desktop-menuboxin ul li {position: relative; display: inline-block;}
.desktop-menuboxin ul li:not(:last-child) {margin-right: 80px}
.desktop-menuboxin ul li a {position: relative; display: block; font-weight: 400; padding: 5px 0; font-size: 16px; line-height: 24px; color: #fff; opacity: .5; letter-spacing: 1.1px; overflow: hidden; background: linear-gradient(to right,#d4514c,#d4514c 50%,#fff 50%); background-clip: text; -webkit-background-clip: text; -webkit-text-fill-color: transparent; background-size: 200% 100%; background-position: 100%; transition: background-position 275ms ease;}
.desktop-menuboxin ul li a:hover {background-position: 0 100%; transition: all 200ms ease-in; opacity: 1; }

.btnmmenu {max-width: 37px; margin: 0 0 0 auto; }
.btnmmenu span {width: 25px; height: 2px; background-color: #fff; display: block; margin: 6px 0; }
.desktop-menuboxin ul li:hover > a {background-color: #164a70; color: #FFF; border-radius: 0; }
.desktop-menuboxin ul li.menu-item-has-children ul{position: absolute; width: 300px; text-align: left;background-color: #f3f3f3;z-index: 9999;}
.desktop-menuboxin ul li:nth-child(3) ul, .desktop-menuboxin ul li:last-child ul{right: 0;}
.desktop-menuboxin ul li.menu-item-has-children ul li{display: block; padding: 0;}
.desktop-menuboxin ul li.menu-item-has-children ul li a{font-size: 14px;}
.desktop-menuboxin ul li:hover > ul{display: block;}

.desktop-btn {text-align: center;}
.desktop-btn .cta-button {display: block; background: 0 0; background-color: rgba(240,240,240,.12); backdrop-filter: blur(10px) brightness(100%); border: 0; box-sizing: border-box; max-width: 190px; padding: 10px 22px; font-size: 16px; line-height: 18px; letter-spacing: .21px; box-shadow: inset 0 0 0 1px #5ac097; color: #fff; font-weight: 400; position: relative; vertical-align: middle; transition: color .25s; text-align: center; margin: auto;}
.desktop-btn .cta-button:hover{text-decoration: none;}

.desktop-btn .cta-button:before,
.desktop-btn .cta-button:after{content: ''; border: 1px solid transparent; width: 0; height: 0;box-sizing: inherit; position: absolute;}

.desktop-btn .cta-button:before{top: 0; left: 0;}
.desktop-btn .cta-button:hover:before {border-top-color: #002735; border-right-color: #002735; transition: width .25s ease-out,height .25s ease-out .25s;width: 100%; height: 100%; }

.desktop-btn .cta-button:after{bottom: 0; right: 0;}
.desktop-btn .cta-button:hover:after{width: 100%; height: 100%; border-bottom-color: #002735; border-left-color: #002735; transition: border-color 0s ease-out .5s,width .25s ease-out .5s,height .25s ease-out .75s;}
/*--end--*/



/* Header start */
.header {padding: 20px 0;}
.header.stickyNav {position: fixed; width: 100%; background: #1f414d; z-index: 9999; } .header_row {display: flex; align-items: center; justify-content: space-between; }
.header_navigation-links ul {display: flex; align-items: center; margin: 0; list-style-type: none; }
.header_link a {font-weight: 300; margin-right: 56px; display: inline-block; color: var(--color-link); transition: 250ms; font-size: 1.12rem; position: relative; display: inline-block; overflow: hidden; background: linear-gradient(to right, var(--color-red), var(--color-red) 50%, #fff 50%); background-clip: text; -webkit-background-clip: text; -webkit-text-fill-color: transparent; background-size: 200% 100%; background-position: 100%; transition: background-position 275ms ease; text-decoration: none; }
.header_link a:hover{background-position: 0 100%;}
.header_link:last-child a {margin-right: 0; }
.header_link a:hover {color: var(--color-red); transition: 250ms; text-decoration: none; }
.header_navigation-btn ul {margin-bottom: 0; }

.button {display: inline-block; padding: 10px 32px; background-color: var(--button-bg); color: #fff; transition: 250ms; position: relative; z-index: 0; }
.button::after {content: ""; position: absolute; left: 50%; transform: translateX(-50%); width: 54px; height: 54px; background: transparent; border-radius: 50%; border: 18px solid var(--color-green); z-index: -1; top: -3px; }

.button::after,
.button::before {opacity: 0; pointer-events: none; transition: 250ms; }
.button.button_hover-secondry::after{border: 18px solid var(--color-red); }
.button:hover {color: #fff; text-decoration: none; }
.button:hover:hover::after {opacity: 1; transition: 250ms; }
.hero_content {display: flex; height: 100%; flex-direction: column; justify-content: center; align-items: flex-start; }

/* Header end */

/* Hero start */

.hero_section {padding: 100px 0; height: 100vh;}
.hero_heading {font-size: 65px; line-height: 86px; margin-bottom: 40px; text-shadow: 0 0 10px rgba(255,255,255,.5); color: #fff; font-weight: 300; }

.hero_text {color: #fff; font-size: 1.14rem; margin-bottom: 32px; }
.hero_img-wrapper-in{margin-left: 120px;}
.hero_img-wrapper img {width: 100%; }

.hero_socal-links {display: flex; align-items: center; list-style: none; margin-top: 80px; }
.hero_socal-links li {padding-right: 36px; position: relative;}
.hero_socal-links li:last-child{padding-right: 0;}
.hero_socal-links li a {width: 36px; height: 36px; display: flex; align-items: center; justify-content: center; border-radius: 50%; color: #fff; padding: 4px; text-decoration: none; border: solid 1px #fff; position: relative; z-index: 2; background: rgba(255, 255, 255, 0.6); } 
.hero_socal-links li:nth-child(1):after{background-image: url(https://wp.localserverweb.com/viable/wp-content/uploads/2021/07/social-1.png); background-size: cover; background-repeat: no-repeat; content: ''; width: 85px; height: 85px; display: block; position: absolute; right: 0px; bottom: -30px; opacity: 1; z-index: 0;}
.hero_socal-links li:nth-child(2):after{background-image: url(https://wp.localserverweb.com/viable/wp-content/uploads/2021/07/social-2.png); background-size: cover; background-repeat: no-repeat; content: ''; width: 85px; height: 85px; display: block; position: absolute; right: 0px; bottom: -30px; opacity: 1; z-index: 0;}
.hero_socal-links li:nth-child(3):after{background-image: url(https://wp.localserverweb.com/viable/wp-content/uploads/2021/07/social-3.png); background-size: cover; background-repeat: no-repeat; content: ''; width: 85px; height: 85px; display: block; position: absolute; right: -36px; bottom: -30px; opacity: 1; z-index: 0;}

.mobile-home-hero{display: none;}

@media (max-width: 991px){
  .hero_section{height: auto; display: block;}
  .hero_heading{font-size: 42px; line-height: 48px;}
  .hero_img-wrapper-in{margin-left: 0;}
}
@media (max-width: 767px){
  .hero_section{padding: 100px 0 50px;}
  .hero_img-wrapper{display: none;}
  .mobile-home-hero{display: block; max-width: 340px; margin: auto;}

  .hero_section .hero_content {display: block; }
  .hero_section h1.hero_heading {text-align: center; font-size: 2.2rem; }
  .hero_section p.hero_text {text-align: center; max-width: 400px; margin: auto; }
  .hero_section .button-wrap a{margin: 40px auto;}

  .hero_socal-links{justify-content: center;}
}
/* Hero end */

/* Trusted start  */
.trusted_section {margin-bottom: 5rem; padding:0 40px; }
.trusted_content {height: 100%; display: flex; flex-direction: column; justify-content: center; }
.trusted-heading {color: #fff; font-size: 18px; }
.trusted_img-row svg path {fill: var(--color-link); }
.trusted_img-wrapper {max-width: 100px; margin-right: 80px; width: 100%; }
.trusted_img-wrapper:last-child {margin-right: 0; }
.trusted_img-wrapper img {max-width: 100%; opacity: 0.5; }
.trusted_img-row {display: flex; align-items: center; justify-content: space-between; height: 100%; }
.section_heading {text-align: center; font-size: 2rem; color: #fff; }

@media (max-width: 767px){
  .trusted_section{padding: 0;}
}

/* Trusted end */

/* Services start */


.services_section .section_heading {margin-bottom: 60px; font-size: 40px; line-height: 53px; text-shadow: 0 0 5px rgb(255 255 255 / 50%); color: #fff; font-weight: 300;}

.service-box {position: relative; margin-bottom: 60px; border-right: 1px solid rgba(255,255,255,.3); }
.service-boxin {position: relative; padding: 40px 35px 25px 75px; }

.service-box a.service-link {position: absolute; width: 100%; height: 100%; left: 0; top: 0; z-index: 1; }

.services_section .row .col-md-6:nth-child(3) > div, 
.services_section .row .col-md-6:nth-child(6) > div {border-right: 0; }

.service-boxin h3, 
.service-boxin span, 
.service-boxin p {color: #fff; position: relative; z-index: 8;}
.service-boxin p {line-height: 22px; margin: 0 0 60px; max-width: 300px;}

.service-boxin span{display: none;}
.service-box:hover h3{color: #5ac097;}

.service-boxin .show-icon {max-width: 112px; max-height: 112px; display: inline-block; object-fit: cover; margin-left: -35px; position: relative; z-index: 88; }
.service-top-icon {position: absolute; transition: all 350ms ease-out; left: -20px; top: -40px; opacity: 0; max-width: 100px; }
.service-red-icon {position: absolute; transition: all 350ms ease-out; right: 75px; top: 25%; opacity: 0; }
.service-green-icon {position: absolute; right: 35%; opacity: 0; transition: all 350ms ease-out;}

.service-box:hover .service-top-icon, 
.service-box:hover .service-green-icon, 
.service-box:hover .service-red-icon {opacity: 1; transition: all 550ms ease-in; }

.service-box-overlay {transition: all 350ms ease-in; }
.service-box-overlay:after, 
.service-box-overlay:before {opacity: 0; position: absolute; content: ''; display: block; background-color: rgba(240,240,240,.12); backdrop-filter: blur(10px) brightness(100%); box-shadow: 9px 9px 12px rgb(0 0 0 / 19%); top: 2px; left: 27px; width: 85%; height: 356px; transition: all 350ms ease-in; }
.service-box-overlay:after {top: 12px; left: 36px; }
.service-box:hover .service-box-overlay:after, 
.service-box:hover .service-box-overlay:before {opacity: .8; transition: all 350ms ease-out;}

.services_section .service-btns {margin-top: -40px; }
.services_section .service-btns a {margin: 0px auto 30px; }


@media (max-width: 1199px){
  .service-boxin{padding: 20px 25px 15px 15px;}
  .service-boxin h3{font-size: 1.25rem;}
  .service-box-overlay:before{left: -7px; width: 95%; height: 100%;}
  .service-box-overlay:after{left: 5px; width: 95%; height: 100%;} 

}

@media (max-width: 991px){
  .services_section .row .col-md-6:nth-child(3) > div{border-right: 1px solid rgba(255,255,255,.3);} 
  .services_section .row .col-md-6:nth-child(2) > div, 
  .services_section .row .col-md-6:nth-child(4) > div, 
  .services_section .row .col-md-6:nth-child(6) > div{border-right: 0;}
}

@media (max-width: 767px){
  .services_section .section_heading{margin-bottom: 0;}
  .services_section .row .col-md-6:nth-child(3) > div{border-right: 0;}
  .service-box {border-right: 0; max-width: 350px; margin: 0 auto; text-align: center; padding: 30px 0 100px; }
  .service-boxin p {line-height: 22px; margin: 0 auto 0px; max-width: 300px; }
  .service-box:after {content: '';width: 80%;height: 1px;position: absolute;bottom: 0px;background: rgba(255,255,255,.3);left: 0;right: 0;margin: auto;}
  .service-boxin .show-icon {max-width: 82px; max-height: 82px; left: 20px; bottom: -76px; object-fit: cover; position: absolute;}
  .service-boxin span {display: block; position: absolute; right: 30px; bottom: -60px;}
  .services_section .row .col-md-6:nth-child(6) > div:after,
  .service-box-overlay{display: none;}

  .services_section .service-btns{display: none;}

}

/* Services end */


/* project gallery start */
.project_section {padding: 60px 0 0;}
.project_section .section_heading {margin-bottom: 10px; font-size: 40px; line-height: 53px; text-shadow: 0 0 5px rgb(255 255 255 / 50%); color: #fff; font-weight: 300;}
.project_section .nav-tabs {display: flex; justify-content: space-evenly; margin: 40px auto; border: none; max-width: 600px }
.project_section .nav-tabs .nav-link:focus, .project_section .nav-tabs .nav-link:hover{border: none;}
.project_section .nav-tabs .nav-link.active {color:var(--color-green); background: transparent; border: none; }
.project_section .nav-item a{color: #fff;}
.project_section  .wrap-modal-slider {padding: 0 30px; opacity: 0; transition: all 0.3s; }

.project_section .wrap-modal-slider.open {opacity: 1; }

.project_section .project {padding-left: 0px; margin: 0 auto; position: relative; }
.project_section .project:before {content: '';width: 70px;height: 100%;position: absolute;top: 0;left: -20px;background: #002735;z-index: 1;}
.project_section .slick-slide a{text-decoration: none;}
.project_section .slick-slide img {display: block; width: 90%; height: 390px; object-fit: cover; transition: all 1s ease;}
.project_section .slick-slide span {color: #fff; display: block; text-align: center; margin-top: 20px; }
.project_section .slick-slide:hover img {transform: scale(1.03); }

.project_section .project .slick-slide:nth-child(2n+2) {padding-top: 70px;}

/* Arrows */
.project_section .slick-prev{top:45%;left: 0;}
.project_section .slick-next{top:60%; left: 0;}

.project_section .slick-prev,
.project_section .slick-next {font-size: 0; line-height: 0; position: absolute; display: block; width: 40px; height: 40px; padding: 0; -webkit-transform: translate(0, -50%); -ms-transform: translate(0, -50%); transform: translate(0, -50%); cursor: pointer; color: transparent; border: none; outline: none; background: rgba(255, 255, 255, 0.2); z-index: 9; border-radius: 50%;}
.project_section .slick-prev:before, 
.project_section .slick-next:before{font-family: 'fontawesome'; color: #fff;}

.project_section .slick-prev:before{content: '\f104';}
.project_section .slick-next:before{content: '\f105';}

.project_section .slick-prev:after, 
.project_section .slick-next:after {content: '';width: 80px;height: 80px;background: url(https://wp.localserverweb.com/viable/wp-content/uploads/2021/07/green-dot.png);background-size: cover;display: inline-block;position: absolute;left: -20px;z-index: -1;top: -20px;opacity: 0.5;filter:blur(3px);}

.project_section .project-btns{ margin-top: 40px;}
.project_section .project-btns a {margin: auto; }

/* project gallery End */


/* magnet section start  */
.magnet_section {padding: 80px;}
.magnet_section .section_heading {text-align: left;margin-bottom: 30px;max-width: 380px;}
.magnet_section .magnet {display: flex;justify-content: center;flex-direction: column;}
.magnet_section .magnet img{height: 150px;width: 150px;}
.magnet_section .how_book img {height: 350px;}
.magnet_section .section_heading span{color: var(--color-red);}
.magnet_section .services_cta-btn {display: flex;justify-content: flex-start;padding: 45px 0;}
.magnet_section p {color: #fff;max-width: 440px;}
.magnet_section .magnet img{ max-width: 200px; height: auto; width: auto; }
.magnet_section .how_book img{ height: auto; width: 100%; }
.magnet_section .services_cta-btn{ display: inline-block; }
.services_cta-btn .button-cta{ width: auto; max-width: initial; }
.magnet_section .section_heading{ text-shadow:  0px 0px 4px; }
/* magnet section End  */

/* client start */
.client_section {padding: 60px 0;}
.client_section h2.section_heading {margin-bottom: 30px; font-size: 40px; line-height: 53px; text-shadow: 0 0 5px rgb(255 255 255 / 50%); color: #fff; font-weight: 300;}
.client-img-row {display: flex; flex-wrap: wrap; }
.client-img-row > div {width: 20%; padding: 20px 10px; height: 80px; text-align: center; }
.client-img-row > div img {height: 100%; width: 100px; object-fit: contain; opacity: 0.5; }

@media (max-width: 767px){
  .project_section{padding: 50px 0 0;}
  .client-img-row > div{height: 50px; padding: 10px;}
  .project_section .project:before{display: none;}
  .project_section .project .slick-slide:nth-child(2n+2){padding-top: 0;}

  .project_section .slick-slide img{width: 100%;}
  .project_section .project-btns {padding-top: 80px; display: table; width: 100%; }

  .project_section .nav-tabs .nav-link {padding: 0 10px; }

  .project_section .slick-prev {margin: auto; top: auto; left: -60px; right: 0; bottom: -100px;}
  .project_section .slick-next {margin: auto; top: auto; left: 0; right: -60px; bottom: -100px;}

}

/* client End */

/* newsletter start  */
.step-form-sec .section_heading{margin-bottom: 60px; font-size: 40px; line-height: 53px; text-shadow: 0 0 5px rgb(255 255 255 / 50%); color: #fff; font-weight: 300;}
.step-form-sec .form-image img {max-width: 190px; }
.steps-form{ width: 100%; padding: 0px 15px; margin: 0px auto; }
.steps-form .frm_style_formidable-style.with_frm_style .frm_rootline.frm_show_lines:before{ border: none; top: 50%; height: 1px; background: rgba(255, 255, 255, .3); }
.steps-form .frm_rootline_group{ max-width: 600px; width: 100%; margin: 20px auto 30px; }
.steps-form .frm_style_formidable-style.with_frm_style .form-field{ max-width: 450px; width: 100%; margin: 0px auto 20px; }
.steps-form .frm_rootline_group li:first-child{ text-align: left; }
.steps-form .frm_rootline_group li:last-child{ text-align: right; }


.steps-form .frm_style_formidable-style.with_frm_style .frm_rootline input,
.steps-form .frm_style_formidable-style.with_frm_style .frm_rootline input:hover{background: #36545f;
    border: solid 5px #183b47;color: #fff; }
.steps-form .frm_style_formidable-style.with_frm_style .frm_rootline input,
.steps-form .frm_style_formidable-style.with_frm_style .frm_rootline input:hover{ width: 50px; height: 50px; border-radius: 50%; }
.steps-form .frm_style_formidable-style.with_frm_style .frm_rootline:nth-child(2){ background: url(/viable/wp-content/uploads/2021/07/Group-17.png); }
.steps-form .frm_style_formidable-style.with_frm_style .frm_rootline:last-child{ background: url(/viable/wp-content/uploads/2021/07/Group-16.png); }

.steps-form .frm_style_formidable-style .frm_current_page input {background: #8e7e7d !important; border: solid 5px #183b47 !important; }

.steps-form .frm_style_formidable-style ul.frm_show_lines {margin-bottom: 40px !important; }
.steps-form fieldset .frm_primary_label{display: none !important;}
.steps-form fieldset .frm_form_field .frm_description{display: none !important;}
.steps-form fieldset .frm_form_field input {height: 42px; border-radius: 4px; border: 0;background-color: #36545f;}
.steps-form fieldset .frm_form_field textarea{border-radius: 4px; border: 0;background-color: #36545f;}

.steps-form fieldset .frm_submit {display: flex; width:300px; margin: 10px auto 0; justify-content: space-between;}
.steps-form fieldset .frm_submit button{display: block; background: 0 0; background-color: rgba(240,240,240,.12) !important; backdrop-filter: blur(10px) brightness(100%); border: 0 !important; box-sizing: border-box !important; max-width: 190px; padding: 10px 42px !important; font-size: 16px !important; line-height: 18px !important; letter-spacing: .21px; box-shadow: inset 0 0 0 1px #5ac097 !important; color: #fff !important; font-weight: 400 !important; position: relative; vertical-align: middle; transition: color .25s; margin: auto !important; border-radius: 0 !important;}
.steps-form fieldset .frm_submit button:hover{text-decoration: none; color: #fff;}

.steps-form fieldset .frm_submit button:before,
.steps-form fieldset .frm_submit button:after{border: 1px solid transparent; width: 0; height: 0;box-sizing: inherit;
    content: ''; position: absolute;}

.steps-form fieldset .frm_submit button:before{top: 0; left: 0;}
.steps-form fieldset .frm_submit button:hover:before {border-top-color: #002735; border-right-color: #002735; transition: width .25s ease-out,height .25s ease-out .25s;width: 100%; height: 100%; }

.steps-form fieldset .frm_submit button:after{bottom: 0; right: 0;}
.steps-form fieldset .frm_submit button:hover:after{width: 100%; height: 100%; border-bottom-color: #002735; border-left-color: #002735; transition: border-color 0s ease-out .5s,width .25s ease-out .5s,height .25s ease-out .75s;}


/* newsletter end */


/* footer start  */
.logo_footer {padding: 27px;position: relative;}
.logo_footer::before {position: absolute;height: 1px;width: 45%;content: '';background: #fff;top: 50%;left: 0px;}
.logo_footer::after {position: absolute;height: 1px;width: 45%;content: '';background: #fff;top: 50%;right: 0px;}
.footer-col-1 p{margin-bottom:20px;}
.footer_col_link li {line-height: 30px; list-style: none;}
.footer-col-1 p span {color: #fff;display: block;}
.footer-col-1 p a {color: #fff;text-decoration: none;}
.footer_col_link li a {color: #fff;text-decoration: none;}
.copyright p {text-align: center; position: relative;}
.copyright p::before{position: absolute;height: 1px;width: 42%;content: '';background: #fff;top: 50%;left: 0px;}
.copyright p::after{position: absolute;height: 1px;width: 42%;content: '';background: #fff;top: 50%;right: 0px;}
.copyright p a {color: #fff;text-decoration: none;}
.footer{position: relative;max-width: 1440px;
  margin: 0 auto;}
.footer::before {position: absolute;content: '';height: 82%;width: 1px;background: #fff;bottom: 12px;left: 0px;}
.footer::after {position: absolute;content: '';height: 82%;width: 1px;background: #fff;bottom: 12px;right: 0px;}
footer ul.hero_socal-links {margin-top: 70px;}
footer{ padding:0px 15px; }
.footer_col_link li a{ font-weight: 300; }
.logo_footer::before{ width:100%; }
.logo_footer::after{ content:none; }
.logo_footer{ text-align: center; }
.logo_footer .section_heading{ display:inline-block; background: #002735; padding:0px 15px; position: relative; }
.copyright{ position:relative; text-align:center; }
.copyright::before{ position: absolute; height: 1px; content: ''; background: #fff; top: 50%; left: 0px; width:100%; }
.copyright p{ display:inline-block; background: #002735; padding:5px 15px; position: relative; margin:0px; }
.copyright p::before, 
.copyright p::after{ content: none; }
.logo_footer{ padding-top: 0px; padding-bottom: 0px; }
.footer .container { padding-top: 27px; }
.footer::before { position: absolute; content: ''; height: calc(100% - 40px); width: 1px; background: #fff; bottom: 12px; left: 0px; top: 0px; top: 25px; }
.footer::after { position: absolute; content: ''; height: calc(100% - 40px); width: 1px; background: #fff; bottom: 12px; left: auto; right:0px; top: 0px; top: 25px; }
/* footer End  */

/* projects page start */
.page-template-projects-page .hero_img-wrapper img{ width: auto; }
.explore-btn a{ color: #fff; display: flex; justify-content: center; flex-direction: column; width: fit-content; text-decoration: none; margin: 0px auto; }
.explore-btn a::after {content: '\f107';font-family: 'FontAwesome'; -webkit-animation: bounce 1s infinite  alternate; animation: bounce 1s infinite  alternate; }
.explore-text{ width: 100%; max-width: 60%; margin: 0px auto; }
.explore-text p{ color: #fff; width: 100%; text-align: center; }
.viable-sitemap{ width: 100%; padding: 100px 0px; }
.sitemap-head{ width: 100%; }
.sitemap-head h3{ text-align: center; color: #fff; }
.sitemap-structure { width: 85%; margin: 0px auto; padding: 40px 0px; }
.sitemap-structure .sitemap-structure-content p{ color: #fff; }
.sitemap-structure .col-md-6::after { content: ''; width: 1px; height: calc(100% - 30px); position: absolute; top: 13px; right: 0px; background: rgba(255, 255, 255, .3); }
.sitemap-structure .col-md-6:nth-child(2n)::after { right: auto; left: 0px; }
.sitemap-structure .sitemap-structure-content { padding: 25px 0px; position: relative; padding-right: 30px; }
.sitemap-structure .col-md-6:nth-child(2n) .sitemap-structure-content{ padding-right: 0px; padding-left: 30px; }
.sitemap-structure .sitemap-structure-content::before { content: ''; width: 70px; height: 70px; position: absolute; top: -35px; right: -45px; background: url(/viable/wp-content/uploads/2021/07/Group-19.png); background-size: cover; }
.sitemap-structure .col-md-6:nth-child(2n) .sitemap-structure-content::before{ left: -45px; right: auto; background: url(/viable/wp-content/uploads/2021/07/Group-20.png); background-size: cover; }
.sitemap-structure .col-md-6:last-child .sitemap-structure-content::before{ background: url(/viable/wp-content/uploads/2021/07/Group-21.png); background-size: cover; }
.show-mobile{ display: none; }
.page-template-projects-page .project_section .project .slick-slide:nth-child(2n+2){ padding-top: 0px; }
.page-template-projects-page .project_section{ padding-bottom: 60px; }
/* project page end */

/* accordion start */
.responsive-tabs { margin-top: 20px; }
.responsive-tabs-container .tab-content { padding: 10px 20px; border: 1px solid #ddd; border-top: none; }
.responsive-tabs-container[class*="accordion-"] .tab-pane { margin-bottom: 15px; }
.responsive-tabs-container[class*="accordion-"] .accordion-link { display: none; margin-bottom: 10px; padding: 10px 15px; color: #fff; position: relative; }
/* accordion end */

@keyframes bounce{ 
  0% { transform: translateY(0); }
  100% { transform: translateY(-7px); }
}
@-webkit-keyframes bounce{ 
  0% { transform: translateY(0); }
  100% { transform: translateY(-7px); }
}
@-moz-keyframes bounce{ 
  0% { transform: translateY(0); }
  100% { transform: translateY(-7px); }
}
@-o-keyframes bounce{ 
  0% { transform: translateY(0); }
  100% { transform: translateY(-7px); }
}


@media screen and (min-width:768px){
  a.hide_link {
    display: none;
}
}
@media screen and (max-width:1024px){
  .footer::after{background:transparent;}
}
@media screen and (max-width: 767px) {
  
  .trusted-heading{text-align: center;}
  .trusted_img-wrapper {    margin-right: 20px;}
  .services_content {padding: 32px 0px;}
  a.hide_link {
    position: absolute;
    bottom: 40px;
    right: 40px;
    color: #fff;
    text-decoration: none;
  }
  .services_item{position: relative;}
  .services_item::after {
  position: absolute;
  content: '';
  height: 2px;
  width: 70%;
  background: var(--color-link);
  bottom: 0;
  }
  .services_cta-btn.ellipse-25::before{bottom: 0;}
  .project_section .project{padding-left: 10px;}
  
  .services_cta-btn.ellipse-29 {
  position: relative;
  margin: 100px 0 0 0 ;
  }
  .services_cta-btn.ellipse-29::before{bottom: -80px;}
  .client_section h2.section_heading{margin-bottom: 20px;}
  .client_section .trusted_img-row{padding: 0;}
  .magnet_section {
  padding: 0px;
  }
  .magnet_section .section_heading {
  font-size: 1.8em;
  text-align: center;}
  .magnet_section .services_cta-btn{justify-content: center;}
  .col-md-3.how_book {
  display: flex;
  justify-content: flex-end;
  }
  .magnet_section .how_book img {
  height: 320px;
  margin-top: -140px;
  display: flex;
  justify-content: flex-end;
  }
  
  .nl_col.nl_col2::before{width: 80px;}
  .nl_col.nl_col3::before{width: 80px;}
  .form_control {
  margin: 20px auto;
  display: flex;
  }
  .magnet_section .section_heading { font-size: 1.6em; }
  .magnet_section .section_heading span{ color: #fff; }
  .services_cta-btn{ text-align: center; margin: 0px auto; width: 100%; max-width: inherit; }
  .services_cta-btn .button-cta{ max-width: 240px; margin: 0px auto; }
  .magnet_section .magnet{ text-align: center; align-items: center; }
  .magnet_section .magnet img { width: 50%; }
  .magnet_section .how_book img{ justify-content: center; }
  .magnet_section .how_book img{ margin: 0px; }
  .magnet_section .section_heading{ margin: 0px auto 30px; }
  .magnet_section p{ margin: 0px auto 1em; }
  .show-mobile{ display: block; }
  .hide-mobile{ display: none; }
  .page-template-projects-page .project_section{ padding-bottom: 80px; }
  .page-template-projects-page .project_section .slick-arrow{ bottom: -80px; }
  .viable-sitemap.show-mobile .sitemap-structure .sitemap-structure-content::before{ content: none; }
  .sitemap-structure .tab-content a::before { content: ''; width: 70px; height: 70px; position: absolute; top: -5px; left: -60px; background: url(/viable/wp-content/uploads/2021/07/Group-19.png); background-size: cover; }
  .sitemap-structure .tab-content #attract + a::before{ background: url(/viable/wp-content/uploads/2021/07/Group-20.png); background-size: cover; left: -50px; }
  .sitemap-structure .tab-content #engage + a::before{ background: url(/viable/wp-content/uploads/2021/07/Group-21.png); background-size: cover; }
  .sitemap-structure .tab-content a::after { content: '\f107'; position: absolute; font-family: 'FontAwesome'; right: 10px; font-size: 21px; top: 50%; transform: translate(-50%, -50%); }
  .sitemap-structure .tab-content .sitemap-structure-content{ padding: 0px 15px; }
  .tab-content{ position: relative; }
  .sitemap-structure .tab-content a.active::after{ transform: rotate(180deg) translate(50%, 50%); top: 50%; }
  .responsive-tabs-container.accordion-xs .nav-tabs { display: none; }
  .responsive-tabs-container.accordion-xs .accordion-link { display: block; }
  .responsive-tabs-container .tab-content { border: none; }

}


@media (max-width: 991px){
   /*--header-css--*/
  .desktop-menubox {display: none;}
  .mobile-menushow {display: block;}
  .mobile-menubtn {display: block;}
  .mobile-menubox div.btnbox {width: 40px; text-align: center; height: 33px; margin: 29px 0 0 auto; cursor: pointer;}
  .mobile-menubox div.btnbox span {display: block; width: 34px; height: 2px; background-color: #393939; margin: 6px auto; }
  /*--end--*/

   .footer::before{background:transparent;}
  footer ul.hero_socal-links {margin-top: 0px; display: flex; flex-direction: column; align-items: center; position: absolute; top: 0; right: 0; }
  .logo_footer::before{left: 0;}
  .logo_footer::after{right: 0;}
  .logo_footer::before,
  .logo_footer::after{width: 50%; top: 0;}
  .copyright p::before,
  .copyright p::after{    width: 50%; top:100% ;}
  .copyright p::before{left: 0;}
  .copyright p::after{right: 0;}
  .footer .container .col-md-3 { flex: 0 0 100%; max-width: 100%; }
  .logo_footer::before{ content:none; }
  .footer{ border-top: 1px solid rgba(255,255,255,.3); border-bottom: 1px solid rgba(255,255,255,.3); }
  .footer::before, .footer::after{ content: none; }
  .copyright::before{ content: none; }
  .footer-col-1 p{ margin-bottom:45px;}
  ul.footer_col_link { margin-bottom: 45px; }
  .footer .hero_socal-links li:last-child{ padding-right: 36px; }
  .footer .hero_socal-links li:nth-child(3):after{ right: 0px; }
  .footer .hero_socal-links li{ margin-bottom:30px; }
  .copyright{ padding-bottom: 10px; }
  
}


@media (max-width: 640px){
  .desktop-btn {display: none;}
}

@media (min-width: 768px) and (max-width: 991px) {
  .responsive-tabs-container.accordion-sm .nav-tabs { display: none; }
  .responsive-tabs-container.accordion-sm .accordion-link { display: block; }
  .responsive-tabs-container .tab-content { border: none; }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .responsive-tabs-container.accordion-md .nav-tabs { display: none; }
  .responsive-tabs-container.accordion-md .accordion-link { display: block; }
}
@media (min-width: 1200px) {
  .responsive-tabs-container.accordion-lg .nav-tabs { display: none; }
  .responsive-tabs-container.accordion-lg .accordion-link { display: block; }
}

@media screen and (max-width:  575px){
  .magnet_section .magnet{ padding-left: 80px; text-align: left; align-items: end; }
  .magnet_section .magnet img{ max-width: 160px; width: 100%; }
  .magnet_section .how_book img { margin: 0px; max-width: 70%; margin-top: -140px; }
}
@media screen and (max-width: 420px){
  .magnet_section .magnet{ padding-left: 50px; }
}
@media screen and (max-width: 359px){
  .magnet_section .magnet{ padding-left: 30px; }
  .magnet_section .section_heading { font-size: 1.4em; }
}